<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nyarr.kerbe.timetablee">

    <application
        android:allowBackup="true"
        android:icon="@drawable/real_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.nyarr.kerbe.timetablee.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nyarr.kerbe.timetablee.DayViewActivity" />
        <activity android:name="com.nyarr.kerbe.timetablee.ExamActivity" />
        <activity android:name="com.nyarr.kerbe.timetablee.FinActivity" />
        <activity android:name="com.nyarr.kerbe.timetablee.NoteActivity" />
        <activity android:name="com.nyarr.kerbe.timetablee.WeekViewActivity" />
        <activity android:name="com.nyarr.kerbe.timetablee.PlusActivity" />
        <activity android:name="com.nyarr.kerbe.timetablee.DelActivity" />
        <activity android:name="com.nyarr.kerbe.timetablee.dvViewActivity" />
        <activity android:name="com.nyarr.kerbe.timetablee.wvViewActivity" />
        <activity android:name="com.nyarr.kerbe.timetablee.NotePlusActivity"></activity>
    </application>

</manifest>